.App {
  text-align: center;
  background-color: rgb(13, 1, 1);
  font-family:"Spicy Rice";
  color: beige;
}
.App-header {
  background-color: #0c0501;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(157, 15, 79);
  padding: 20px;
  font-family:"Spicy Rice";
}
@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }
  .search-bar {
    flex-direction: column;
    gap: 10px;
  }
  .search-bar form {
    flex-direction: column;
  }
}
.button-box{
  all: unset;
  background-color: #090808;
  color: beige;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  border-radius: 5px rgb(94,20,20);
  transition: background-color 0.3s ease;
  font-family:"Spicy Rice";
}
.button-active{
  background-color: black;
}
.body-container {
  display: flex;
}
#buttons{
  background-color: #740e4d6d;
  font-family:"Spicy Rice";
  color: beige;
  border: 4px  rgb(94,20,20);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#buttons:hover{
  background-color: rgb(67, 59, 59);
}
#buttons:active{
  background-color: rgb(115,10,64);
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}