.movielist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(4, 1fr);  */
    gap: 1.5em; 
    margin: 1.75em 1.5em 1.75em 1.5em;
    background-color: black;
}